*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainBlack:#222;
$mainGreen:#82b340;
$mainWhite:#fff;
$mainGrey:#ececec;
$mainRed:rgb(153, 14, 14)(129, 55, 55);

body{
    background-color: $mainWhite;
    color: $mainGreen;
    font-family:'Itim', cursive;

    
}